<!DOCTYPE html>
<html>
<head>
  <title>TestAuthStripe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="nav-bar">
    <% if user_signed_in? %>
      <%= link_to 'Home', main_app.root_path %>
      <%= link_to 'Log out', main_app.destroy_user_session_path, method: :delete %>
      <em><%= "Welcome #{current_user.first_name}" %></em>
    <% else %>
        <li><%= link_to 'Log In', main_app.new_user_session_path %></li>
        <li><%= link_to 'Sign Up', main_app.new_user_registration_path %></li>
    <% end %>
  </nav>

  <%= yield %>

  <%= yield :koudoku %>

</body>
</html>
